*{
	font-family: Roboto, sans-serif;
}
.footer{
	width: 85%;
    height: 500px;
    background: #6d1616;
    margin: 0 auto;
}
.box1{
	width: 100%;
    height: 300px;
    background: #77ab34;
    display: block;
}
.box1 .content{
	width: 68%;
    height: 300px;
    background: #614545;
    float: left;
    display: block;
    margin-right: 25px;
}
.box1 .ima{
	width: 30%;
	height: 300px;
	background: black;
	float: left;
}
.content h3{
	color: #886930;
    font-family: roboto;
    padding-left: 10px;
}
.content p{
	color: #fff;
    font-size: 13px;
    font-weight: 200;
    padding-left: 10px;
}
.ima img{
	width: 100px;
	height: 200px;
}
.box2 {
	width: 100%;
    height: 120px;
    background: #607D8B;
    margin-top: 5rem;
    display: block;
    box-sizing: border-box;
}
.line-box{
	width: 100%;
    height: 30px;
    border-top: 2px solid #ffffff;
    border-bottom: 2px solid #fff;
    display: block;
}

.line-box ul{
	display: block;
	width: 100%;
	list-style-type: none;
	padding: 0;
	margin: 0;
	/*background: pink;*/

}
.line-box ul li{
	float: left;
    display: block;
    height: 60%;
    padding: 0 72px;
    line-height: 33px;
}
.line-box ul li a{
	display: block;
    color: #fff;
    text-decoration: none;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    text-transform: uppercase;
    font-weight: 400;
    font-family: 'Roboto',sans-serif;
    font-size: 13px;
}
.line-box ul li:hover a{
	color: red;
}
.cnt{
	width: 100px;
	height: 50px;
	text-align: center;
	display: grid;
}
.cnt p{
	font-size: 13px;
	color: #fff;
	display: block;
}






